.Pokecard {
  display: inline-block;
  width: 8em;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

.Pokecard-title {
  color: rgb(217, 20, 20);
  font-weight: bold;
}

.Pokecard-data {
  font-size: 80%;
}

